{% extends "blogapp/base.html" %}
{% block content %}

 <h2>A propos</h2>
      <hr>
      <div class="row">
        <div class="col-md-8">
          <p>Bienvenue sur mon blog ! Je m'appelle Christ BAKALA et je suis passionné de nouvelles technologies. J'ai créé ce blog pour partager mes connaissances et mes découvertes avec vous. Vous y trouverez des articles sur les dernières tendances en matière de technologie, des astuces et des conseils pour améliorer votre expérience numérique, ainsi que des tutoriels pour apprendre de nouvelles compétences.</p>
          <p>N'hésitez pas à me contacter si vous avez des questions ou des suggestions pour améliorer ce blog. Merci de votre visite et à bientôt !</p>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">A propos de moi</h5>
              <img src="media/Images/blog.png" class="rounded-circle img-thumbnail mb-3" alt="Photo de profil">
              <p class="card-text">Je suis un passionné de technologie depuis mon plus jeune âge. J'ai travaillé pendant plusieurs années en tant que développeur web avant de me consacrer à l'écriture. J'ai toujours aimé partager mes connaissances avec les autres et c'est pour cette raison que j'ai créé ce blog.</p>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><i class="fas fa-envelope me-3"></i>christbakala001@gmail.com</li>
                <li class="list-group-item"><i class="fab fa-linkedin me-3"></i><a href="https://www.linkedin.com/in/christ-bakala-3b880925a">Mon profil LinkedIn</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}